In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv('Used_Bikes.csv')
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [5]:
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [6]:
df.duplicated().sum()

np.int64(25324)

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [10]:
df.select_dtypes(include='O')

,bike_name,city,owner,brand
0,TVS Star City Plus Dual Tone 110cc,Ahmedabad,First Owner,TVS
1,Royal Enfield Classic 350cc,Delhi,First Owner,Royal Enfield
2,Triumph Daytona 675R,Delhi,First Owner,Triumph
3,TVS Apache RTR 180cc,Bangalore,First Owner,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,Bangalore,First Owner,Yamaha
...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,Delhi,First Owner,Hero
9369,Bajaj Avenger 220cc,Bangalore,First Owner,Bajaj
9370,Harley-Davidson Street 750 ABS,Jodhpur,First Owner,Harley-Davidson
9371,Bajaj Dominar 400 ABS,Hyderabad,First Owner,Bajaj
9372,Bajaj Avenger Street 220,Hyderabad,First Owner,Bajaj

In [11]:
cat_col=df.select_dtypes(include='O')
cat_col.head()

                              bike_name       city        owner          brand
0    TVS Star City Plus Dual Tone 110cc  Ahmedabad  First Owner            TVS
1           Royal Enfield Classic 350cc      Delhi  First Owner  Royal Enfield
2                  Triumph Daytona 675R      Delhi  First Owner        Triumph
3                  TVS Apache RTR 180cc  Bangalore  First Owner            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore  First Owner         Yamaha

In [12]:
num_col=df.select_dtypes(exclude='O')
num_col.head()

      price  kms_driven  age  power
0   35000.0     17654.0  3.0  110.0
1  119900.0     11000.0  4.0  350.0
2  600000.0       110.0  8.0  675.0
3   65000.0     16329.0  4.0  180.0
4   80000.0     10000.0  3.0  150.0

In [13]:
cat_col.drop(['bike_name','city'],axis='columns',inplace=True)

In [14]:
cat_col.head()

         owner          brand
0  First Owner            TVS
1  First Owner  Royal Enfield
2  First Owner        Triumph
3  First Owner            TVS
4  First Owner         Yamaha

In [15]:
dt={'First Owner':1,'Second Owner':2,'Third Owner':3,'Fourth Owner Or More':4}
dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

In [16]:
cat_col['owner']=cat_col['owner'].map(dt) # execute single time

In [17]:
cat_col['owner']

0       1
1       1
2       1
3       1
4       1
       ..
9362    1
9369    1
9370    1
9371    1
9372    1
Name: owner, Length: 7324, dtype: int64

In [18]:
brand_list=list(cat_col['brand'].value_counts().keys())
brand_list

['Bajaj',
 'Royal Enfield',
 'Hero',
 'Honda',
 'Yamaha',
 'TVS',
 'KTM',
 'Suzuki',
 'Harley-Davidson',
 'Kawasaki',
 'Hyosung',
 'Mahindra',
 'Benelli',
 'Triumph',
 'Ducati',
 'BMW',
 'Jawa',
 'Indian',
 'MV',
 'Rajdoot',
 'LML',
 'Yezdi',
 'Ideal']

In [34]:
brand_dict={}
for value,key in enumerate(brand_list,start=1):
    print(key,'>>>',value)
    brand_dict[key]=value

Bajaj >>> 1
Royal Enfield >>> 2
Hero >>> 3
Honda >>> 4
Yamaha >>> 5
TVS >>> 6
KTM >>> 7
Suzuki >>> 8
Harley-Davidson >>> 9
Kawasaki >>> 10
Hyosung >>> 11
Mahindra >>> 12
Benelli >>> 13
Triumph >>> 14
Ducati >>> 15
BMW >>> 16
Jawa >>> 17
Indian >>> 18
MV >>> 19
Rajdoot >>> 20
LML >>> 21
Yezdi >>> 22
Ideal >>> 23

In [36]:
brand_dict

{'Bajaj': 1,
 'Royal Enfield': 2,
 'Hero': 3,
 'Honda': 4,
 'Yamaha': 5,
 'TVS': 6,
 'KTM': 7,
 'Suzuki': 8,
 'Harley-Davidson': 9,
 'Kawasaki': 10,
 'Hyosung': 11,
 'Mahindra': 12,
 'Benelli': 13,
 'Triumph': 14,
 'Ducati': 15,
 'BMW': 16,
 'Jawa': 17,
 'Indian': 18,
 'MV': 19,
 'Rajdoot': 20,
 'LML': 21,
 'Yezdi': 22,
 'Ideal': 23}

In [38]:
cat_col['brand']=cat_col['brand'].map(dt)

In [41]:
cat_col['brand']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
9362   NaN
9369   NaN
9370   NaN
9371   NaN
9372   NaN
Name: brand, Length: 7324, dtype: float64

In [37]:
df2=pd.concat([cat_col,num_col],axis='columns')
df2.head()

   owner          brand     price  kms_driven  age  power
0      1            TVS   35000.0     17654.0  3.0  110.0
1      1  Royal Enfield  119900.0     11000.0  4.0  350.0
2      1        Triumph  600000.0       110.0  8.0  675.0
3      1            TVS   65000.0     16329.0  4.0  180.0
4      1         Yamaha   80000.0     10000.0  3.0  150.0

In [22]:
df2.isnull().sum()

owner         0
brand         0
price         0
kms_driven    0
age           0
power         0
dtype: int64

In [23]:
# Splitting x and y variable
x=df2.drop('price',axis='columns')
y=df2[['price']]

In [24]:
x

      owner            brand  kms_driven  age  power
0         1              TVS     17654.0  3.0  110.0
1         1    Royal Enfield     11000.0  4.0  350.0
2         1          Triumph       110.0  8.0  675.0
3         1              TVS     16329.0  4.0  180.0
4         1           Yamaha     10000.0  3.0  150.0
...     ...              ...         ...  ...    ...
9362      1             Hero     48587.0  8.0  150.0
9369      1            Bajaj     60000.0  9.0  220.0
9370      1  Harley-Davidson      3430.0  4.0  750.0
9371      1            Bajaj     21300.0  4.0  400.0
9372      1            Bajaj      7127.0  5.0  220.0

[7324 rows x 5 columns]

In [25]:
y

         price
0      35000.0
1     119900.0
2     600000.0
3      65000.0
4      80000.0
...        ...
9362   25000.0
9369   35000.0
9370  450000.0
9371  139000.0
9372   80000.0

[7324 rows x 1 columns]

In [26]:
#Train Test split
from sklearn.model_selection import train_test_split

In [27]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2) #20% for testing purpose.

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
lnr=LinearRegression()

In [32]:
x_train.head()

      owner          brand  kms_driven  age  power
6284      1  Royal Enfield      7000.0  6.0  535.0
312       1  Royal Enfield     29860.0  7.0  350.0
2182      2         Yamaha     30600.0  9.0  150.0
7993      1         Yamaha     24000.0  9.0  150.0
9249      1          Bajaj     23000.0  5.0  200.0

In [ ]:
y.train

In [31]:
lnr.fit(x_train,y_train)

ValueError: could not convert string to float: 'Royal Enfield'